/*
/* name: article.styl
/* author: DZ(wangyihan05@baidu.com)
*/

// 配置文件
@import './config'
@import './tool'
@import './util/custom-blocks'

$to-top = 10px
$h1-margin = 50px
$h2-margin = 40px
$h3-margin = 30px
$h4-margin = 20px
$h5-margin = 20px

// 字号行高配置文件在 config.styl 中，使用 extend 引入

// 标题正文和链接样式
.article
  h1, h2, h3, h4, h5
    margin-left -0.8em
    padding-left 0.8em
  h1, h2, h3, h4, h5
    font-weight 500
    color $text-black-heading
    position relative
    a
      font-size 1em
      opacity 0
      position absolute
      left 0
      top 0
      display inline-block
      color $link-color-1
    &:hover
      a
        opacity 1
  p, ul, li, ol
    font-weight 400
    color $text-black-std
    @extend .p-size-std
  p
    margin 20px 0
  li
    margin 5px 0
  ul, ol
    margin-left 20px
  a
    font-weight 400
    color $link-color
    text-decoration none
    @extend .p-size-std
    &:hover
      text-decoration underline
  h1
    padding-top $to-top + $h1-margin
    padding-bottom 40px
    margin-top - $to-top 
    margin-bottom 40px
    @extend .h1-size-std
    display block
    box-sizing border-box
    position relative
    &:after 
      @extend .class-block
      position absolute
      bottom 0px
      width 100%
      height 1px
      background-color $border-color
  h1 a
    @extend .h1-size-std
    padding-top $h1-margin + $to-top 
  h2
    padding-top $to-top + $h2-margin
    margin-top - $to-top 
    margin-bottom 20px
    @extend .h2-size-small
  h2 a
    @extend .h2-size-small
    padding-top $h2-margin + $to-top 
  div h2
    padding-top $h2-margin
  div h2 a
    padding-top $h2-margin
  h3
    padding-top $to-top + $h3-margin
    margin-top - $to-top 
    margin-bottom 10px
    @extend .h3-size-std
  h3 a
    @extend .h3-size-std
    padding-top $h3-margin + $to-top 
  div h3
    padding-top $h3-margin
  div h3 a
    padding-top $h3-margin
  h4
    padding-top $to-top + $h4-margin
    margin-top - $to-top 
    margin-bottom 10px
    @extend .h4-size-std
  h4 a
    @extend .h4-size-std
    padding-top $h4-margin + $to-top 

// blockquote
.article
  blockquote 
    margin 20px 0 0 5px
    p
      padding-left 20px
      display block
      border-left 3px solid $border-color
      color $text-black-weak 

// 表格
.article
  table
    border-collapse collapse
    margin 20px 0
    width 100%
    border-bottom 1px solid $border-color 
  tr
    border-top 1px solid $border-color 
    &:nth-child(2n)
      background-color #ffff
  th 
    color $text-black-heading
    font-size 14px
    font-weight 500
    line-height 42px
    text-align left 
    background-color $thead-color 
    color $textColorDark
  td
    color $text-black-std 
    line-height 26px
    font-size 14px
    min-width 80px
    padding 8px 0

// 列表
.article
  ul, ol
    padding-left 16px
    margin 20px 0
    color $text-black-std
    li
      line-height 26px
      padding-left 0px
      margin 5px 0
      p
        margin 0
    ul
      margin 5px 0

// 标记

mark
  color $emphasize-color
  background-color transparent