/*
/* name: config.styl
/* author: DZ(wangyihan05@baidu.com)
*/

// 加载工具
$accent-color = #3eaf7c

// 品牌颜色
$brand-color-main =  #108cee

// ui颜色
$emphasize-color =  #d0021b
$tips-color =  #f5a623
$bg-color-dark = #0f1012
$bg-color-light = #f5f5f5
$border-color = #ebebeb
$thead-color = #fbfbfb
$link-color = #108cee

// 间距
$text-interval = 4px

// 投影
$shadow-std = 0 2px 10px 0 rgba(0, 0, 0, 0.05)
$shadow-big = 0 4px 12px 0 rgba(0, 0, 0, 0.2)

// 文字颜色
$text-black-std = rgba(0, 0, 0, .66)
$text-black-weak = rgba(0, 0, 0, .5)
$text-black-heading = rgba(0, 0, 0, .85)
$text-white-heading = rgba(255, 255, 255, 1)
$text-white-std =  rgba(255, 255, 255, .75)
$text-white-weak = rgba(255, 255, 255, .5)

// 边框颜色
$borderColor = #eaecef

// 代码块颜色
$codeBgColor = #282c34

// 下拉箭头颜色
$arrowBgColor = #ccc

// 布局
$navbarHeight = 60px
$sidebarWidth = 240px
$contentWidth = 740px


//缓入函数
$ease-in-std = cubic-bezier(.55, .055, .675, .19)
$ease-in-std-sine = cubic-bezier(.47, 0, .745, .715)
$ease-in-std-quint = cubic-bezier(.755, .05, .855, .06)
$ease-out-std = cubic-bezier(.215, .61, .355, 1)
$ease-out-sine = cubic-bezier(.39, .575, .565, 1)
$ease-out-quint = cubic-bezier(0.19, 1, 0.22, 1)
$ease-in-out-std = cubic-bezier(.645, .045, .355, 1)
$ease-in-out-sine = cubic-bezier(.445, .05, .55, .95)
$ease-in-out-quint = cubic-bezier(.86, 0, .07, 1)

// 时间单位
$time-short = 200ms
$time-std = 400ms
$time-long = 600ms
$time-longer = 800ms

// 组件内的序列动画间距时间
$delay-std = 50ms
$delay-long = 200ms

// 标准过渡 = transition = $stdTransition
$transition-std = $time-std all $ease-in-out-std


// 媒体查询
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// 文字大小和行高关系
.p-size-small
  font-size 12px
  line-height 24px
.p-size-std
  font-size 14px
  line-height 26px
.h1-size-std
  font-size 42px
  line-height 64px
.h1-size-small
  font-size 36px
  line-height 56px
.h2-size-std
  font-size 30px
  line-height 48px
.h2-size-small
  font-size 24px
  line-height 40px
.h3-size-std
  font-size 18px
  line-height 32px
.h4-size-std
  font-size 16px
  line-height 30px