/*
/* name: layout.styl
/* author: DZ(wangyihan05@baidu.com)
*/

@require './config'
@require './layout/grid' //页面内的栅格布局

.page
  padding-bottom 40px

.page-wrp
  max-width 960px
  margin auto
  padding 0 40px

.nav-show
  .main-wrp, .footer
    margin-left $sidebarWidth

.nav-hidden
  .main-wrp, .footer
    margin-left 0