/*
/* name: theme.styl
/* author: DZ(wangyihan05@baidu.com)
*/

@require './config'    // 样式配置文件
@require './tool'      // 常用构造工具
@require './layout'    // 布局框架
@require './article'   // 文章内部文本样式

@require './code'      // 代码块样式
@require './nprogress' // 加载条样式

html, body
  padding 0
  margin 0
