//顶部导航
.article .table-of-contents
  ul, ol
    margin 30px 0 -20px 0
    border-left-width 3px
    border-left-style solid
    padding 0 30px
    border-color $border-color 
  li
    margin 0px
    transition .25s color ease-out
    color $text-black-weak
    &:hover
      color $link-color
  a
    color $text-black-std
    transition .25s color ease-out
    &:hover
      text-decoration none
      color $link-color

//自定义模块
.custom-block
  margin 20px 0px
  p
    font-size 13px
  .custom-block-title
    font-weight 500
    font-size 15px
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width 3px
    border-left-style solid
  &.tip
    background-color #f7f7f7
    border-color $brand-color-main
  &.warning
    background-color rgba(255,229,100,.3)
    border-color darken(#ffe564, 35%)
    color darken(#ffe564, 70%)
    .custom-block-title
      color darken(#ffe564, 50%)
  &.danger
    background-color #ffe6e6
    border-color darken(red, 20%)
    color darken(red, 70%)
    .custom-block-title
      color darken(red, 40%)
    a
      color $textColorDark
